# Countries of the World

By Krzysztof Satola from: [github.com/ksatola](https://github.com/ksatola).

Based on CRISP-DM (Cross Industry Process for Data Mining).

## Business Understanding

### Dataset Dictionary

- **country** - country name
- **region** - region name
- **population** - number of people within country
- **area** - area in sq. mi.
- **popdensity** - population density per sq. mi.
- **coast** - coastline (coast/area ratio)
- **netmigr** - net migration. The net migration rate is the difference between the number of immigrants (people coming into an area) and the number of emigrants (people leaving an area) throughout the year. When the number of immigrants is larger than the number of emigrants, a positive net migration rate occurs. A positive net migration rates indicates that there are more people entering than leaving an area. When more emigrate from a country, the result is a negative net migration rate, meaning that more people are leaving than entering the area. When there is an equal number of immigrants and emigrants, the net migration rate is balanced ([source](https://en.wikipedia.org/wiki/Net_migration_rate)).
- **infmortality** - infant mortality (per 1000 births)
- **gdp** - gross domestic product (GDP) in $ per capita. The value of all final goods and services produced within a nation in a given year (2013), converted at market exchange rates to current U.S. dollars, divided by the average population for the same year ([source](https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita)).
- **literacy** - literacy level in %
- **phones** - phones per 1000
- **arable** - percent of arable areas
- **crops** - percent of cropland used to grow food
- **other** - other (%) ~????????????????~
- **climate** - climate type
- **birthrate** - the birth rate (technically, births/population rate), the total number of live births per 1,000 in a population in 2013 ([source](https://en.wikipedia.org/wiki/Birth_rate)).
- **deathrate** - number of deaths in units of deaths per 1,000 individuals ([source](https://en.wikipedia.org/wiki/Mortality_rate)).
- **agriculture** - percentage of GDP sector composition ratio for agriculture economy sector ([source](https://en.wikipedia.org/wiki/List_of_countries_by_GDP_sector_composition)). Agriculture % + Industry % + Service = 100% of GDP 
- **industry** - percentage of GDP sector composition ratio for industry economy sector
- **service** - percentage of GDP sector composition ratio for service economy sector

### Objectives

In this project, I explore [Countries of the Worlds Kaggle dataset](https://www.kaggle.com/fernandol/countries-of-the-world) to answer the following questions:

1. How different regions compared to each other in terms of area, population, population density
2. 
3. What are the most significant predictors for country's GDP ($ per capita)?

Next, I write a post to ??? about my findings.

## Data Understanding

In [25]:
# Import required libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Random state
rstate = 123

In [11]:
%load_ext version_information

In [14]:
# Document versions of used libraries
%version_information numpy, pandas, matplotlib, seaborn

Software versions
Python 3.7.1 64bit [Clang 4.0.1 (tags/RELEASE_401/final)]
IPython 7.2.0
OS Darwin 18.2.0 x86_64 i386 64bit
numpy 1.16.2
pandas 0.23.4
matplotlib 3.0.2
seaborn 0.9.0
Tue Mar 19 22:36:10 2019 CET

In [19]:
# Load data from a CSV file
df = pd.read_csv('./data/countries of the world.csv')

In [20]:
# Initial look into the dataset
df.head().T

,0,1,2,3,4
Country,Afghanistan,Albania,Algeria,American Samoa,Andorra
Region,ASIA (EX. NEAR EAST),EASTERN EUROPE,NORTHERN AFRICA,OCEANIA,WESTERN EUROPE
Population,31056997,3581655,32930091,57794,71201
Area (sq. mi.),647500,28748,2381740,199,468
Pop. Density (per sq. mi.),"48,0","124,6","13,8","290,4","152,1"
Coastline (coast/area ratio),"0,00","1,26","0,04","58,29","0,00"
Net migration,"23,06","-4,93","-0,39","-20,71","6,6"
Infant mortality (per 1000 births),"163,07","21,52",31,"9,27","4,05"
GDP ($ per capita),700,4500,6000,8000,19000
Literacy (%),"36,0","86,5","70,0","97,0","100,0"
Phones (per 1000),"3,2","71,2","78,1","259,5","497,2"
Arable (%),"12,13","21,09","3,22",10,"2,22"
Crops (%),"0,22","4,42","0,25",15,0
Other (%),"87,65","74,49","96,53",75,"97,78"
Climate,1,3,1,2,3
Birthrate,"46,6","15,11","17,14","22,46","8,71"
Deathrate,"20,34","5,22","4,61","3,27","6,25"
Agriculture,"0,38","0,232","0,101",NaN,NaN
Industry,"0,24","0,188","0,6",NaN,NaN
Service,"0,38","0,579","0,298",NaN,NaN

In [22]:
df.tail().T

,222,223,224,225,226
Country,West Bank,Western Sahara,Yemen,Zambia,Zimbabwe
Region,NEAR EAST,NORTHERN AFRICA,NEAR EAST,SUB-SAHARAN AFRICA,SUB-SAHARAN AFRICA
Population,2460492,273008,21456188,11502010,12236805
Area (sq. mi.),5860,266000,527970,752614,390580
Pop. Density (per sq. mi.),"419,9","1,0","40,6","15,3","31,3"
Coastline (coast/area ratio),"0,00","0,42","0,36","0,00","0,00"
Net migration,"2,98",NaN,0,0,0
Infant mortality (per 1000 births),"19,62",NaN,"61,5","88,29","67,69"
GDP ($ per capita),800,NaN,800,800,1900
Literacy (%),NaN,NaN,"50,2","80,6","90,7"
Phones (per 1000),"145,2",NaN,"37,2","8,2","26,8"
Arable (%),"16,9","0,02","2,78","7,08","8,32"
Crops (%),"18,97",0,"0,24","0,03","0,34"
Other (%),"64,13","99,98","96,98","92,9","91,34"
Climate,3,1,1,2,2
Birthrate,"31,67",NaN,"42,89",41,"28,01"
Deathrate,"3,92",NaN,"8,3","19,93","21,84"
Agriculture,"0,09",NaN,"0,135","0,22","0,179"
Industry,"0,28",NaN,"0,472","0,29","0,243"
Service,"0,63","0,4","0,393","0,489","0,579"

In [26]:
df.sample(5, random_state=rstate).T

,125,122,156,150,79
Country,Malawi,Macau,Pakistan,Nicaragua,Greece
Region,SUB-SAHARAN AFRICA,ASIA (EX. NEAR EAST),ASIA (EX. NEAR EAST),LATIN AMER. & CARIB,WESTERN EUROPE
Population,13013926,453125,165803560,5570129,10688058
Area (sq. mi.),118480,28,803940,129494,131940
Pop. Density (per sq. mi.),"109,8","16183,0","206,2","43,0","81,0"
Coastline (coast/area ratio),"0,00","146,43","0,13","0,70","10,37"
Net migration,0,"4,86","-2,77","-1,22","2,35"
Infant mortality (per 1000 births),"103,32","4,39","72,44","29,11","5,53"
GDP ($ per capita),600,19400,2100,2300,20000
Literacy (%),"62,7","94,5","45,7","67,5","97,5"
Phones (per 1000),"7,9","384,9","31,8","39,7","589,7"
Arable (%),"23,38",0,"27,87","15,94","21,1"
Crops (%),"1,49",0,"0,87","1,94","8,78"
Other (%),"75,13",100,"71,26","82,12","70,12"
Climate,2,2,1,2,3
Birthrate,"43,13","8,48","29,74","24,51","9,68"
Deathrate,"19,33","4,47","8,23","4,45","10,24"
Agriculture,"0,342","0,001","0,216","0,165","0,054"
Industry,"0,158","0,072","0,251","0,275","0,213"
Service,"0,499","0,927","0,533","0,56","0,733"

In [4]:
# Dataset size
df.shape

(227, 20)

In [8]:
# Variables
df.columns

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

In [29]:
# Naming convention, simplify column names and build a dataset dictionary (see above)
df.rename(columns={"Country":"country", 
                  "Region":"region", 
                  "Population":"population", 
                  "Area (sq. mi.)":"area", 
                  "Pop. Density (per sq. mi.)":"popdensity", 
                  "Coastline (coast/area ratio)":"coast", 
                  "Net migration":"netmigr", 
                  "Infant mortality (per 1000 births)":"infmortality", 
                  "GDP ($ per capita)":"gdp", 
                  "Literacy (%)":"literacy", 
                  "Phones (per 1000)":"phones", 
                  "Arable (%)":"arable", 
                  "Crops (%)":"crops", 
                  "Other (%)":"other", 
                  "Climate":"climate", 
                  "Birthrate":"birthrate", 
                  "Deathrate":"deathrate", 
                  "Agriculture":"agriculture", 
                  "Industry":"industry", 
                  "Service":"service"}, inplace=True)

In [30]:
df.columns

Index(['country', 'region', 'population', 'area', 'popdensity', 'coast',
       'netmigr', 'infmortality', 'gdp', 'literacy', 'phones', 'arable',
       'crops', 'other', 'climate', 'birthrate', 'deathrate', 'agriculture',
       'industry', 'service'],
      dtype='object')

In [39]:
# Examplary country data
df.iloc[163]

country                                     Poland
region          EASTERN EUROPE
population                                 38536869
area                                         312685
popdensity                                    123,3
coast                                          0,16
netmigr                                       -0,49
infmortality                                   8,51
gdp                                           11100
literacy                                       99,8
phones                                        306,3
arable                                        45,91
crops                                          1,12
other                                         52,97
climate                                           3
birthrate                                      9,85
deathrate                                      9,89
agriculture                                    0,05
industry                                      0,311
service                                        0,64
Name: 163, dtype: object

In [44]:
# What are the dataset column data types?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
country         227 non-null object
region          227 non-null object
population      227 non-null int64
area            227 non-null int64
popdensity      227 non-null object
coast           227 non-null object
netmigr         224 non-null object
infmortality    224 non-null object
gdp             226 non-null float64
literacy        209 non-null object
phones          223 non-null object
arable          225 non-null object
crops           225 non-null object
other           225 non-null object
climate         205 non-null object
birthrate       224 non-null object
deathrate       223 non-null object
agriculture     212 non-null object
industry        211 non-null object
service         212 non-null object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.5+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
country         227 non-null object
region          227 non-null object
population      227 non-null int64
area            227 non-null int64
popdensity      227 non-null object
coast           227 non-null object
netmigr         224 non-null object
infmortality    224 non-null object
gdp             226 non-null float64
literacy        209 non-null object
phones          223 non-null object
arable          225 non-null object
crops           225 non-null object
other           225 non-null object
climate         205 non-null object
birthrate       224 non-null object
deathrate       223 non-null object
agriculture     212 non-null object
industry        211 non-null object
service         212 non-null object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.5+ KB

### Notes

1. The dataset has 20 variables and 227 observations (one per each country).
2. The dataset column names were standardized and their meaning described in the dataset dictionary.
3. The dataset column types were corrected.
4. The dataset columns with missing values are

## Prepare Data

## Data Modeling??

## Evaluate the Result

## Deploy