# Countries of the World

By Krzysztof Satola from: [github.com/ksatola](https://github.com/ksatola).

Based on CRISP-DM (Cross Industry Process for Data Mining).

## Business Understanding

### Dataset Dictionary

- **country** - country name
- **region** - region name
- **population** - number of people within country
- **area** - area in sq. mi.
- **popdensity** - population density per sq. mi.
- **coast** - coastline (coast/area ratio)
- **netmigr** - net migration. The net migration rate is the difference between the number of immigrants (people coming into an area) and the number of emigrants (people leaving an area) throughout the year. When the number of immigrants is larger than the number of emigrants, a positive net migration rate occurs. A positive net migration rates indicates that there are more people entering than leaving an area. When more emigrate from a country, the result is a negative net migration rate, meaning that more people are leaving than entering the area. When there is an equal number of immigrants and emigrants, the net migration rate is balanced ([source](https://en.wikipedia.org/wiki/Net_migration_rate)).
- **infmortality** - infant mortality (per 1000 births)
- **gdp** - gross domestic product (GDP) in $ per capita. The value of all final goods and services produced within a nation in a given year (2013), converted at market exchange rates to current U.S. dollars, divided by the average population for the same year ([source](https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita)).
- **literacy** - literacy level in %
- **phones** - phones per 1000
- **arable** - percent of arable areas
- **crops** - percent of cropland used to grow food
- **other** - other (%) ~????????????????~
- **climate** - climate type
- **birthrate** - the birth rate (technically, births/population rate), the total number of live births per 1,000 in a population in 2013 ([source](https://en.wikipedia.org/wiki/Birth_rate)).
- **deathrate** - number of deaths in units of deaths per 1,000 individuals ([source](https://en.wikipedia.org/wiki/Mortality_rate)).
- **agriculture** - percentage of GDP sector composition ratio for agriculture economy sector ([source](https://en.wikipedia.org/wiki/List_of_countries_by_GDP_sector_composition)). Agriculture % + Industry % + Service = 100% of GDP 
- **industry** - percentage of GDP sector composition ratio for industry economy sector
- **service** - percentage of GDP sector composition ratio for service economy sector

### Objectives

In this project, I explore [Countries of the Worlds Kaggle dataset](https://www.kaggle.com/fernandol/countries-of-the-world) to answer the following questions:

1. How different regions compared to each other in terms of area, population, population density
2. 
3. What are the most significant predictors determining country's GDP per capita, the key indicator of economic development of any country?

Next, I write a post to ??? about my findings.

## Data Understanding

In [112]:
# Import required libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Random state
rstate = 123

pd.options.display.float_format = '{:20.2f}'.format

In [11]:
%load_ext version_information

In [14]:
# Document versions of used libraries
%version_information numpy, pandas, matplotlib, seaborn

Software versions
Python 3.7.1 64bit [Clang 4.0.1 (tags/RELEASE_401/final)]
IPython 7.2.0
OS Darwin 18.2.0 x86_64 i386 64bit
numpy 1.16.2
pandas 0.23.4
matplotlib 3.0.2
seaborn 0.9.0
Tue Mar 19 22:36:10 2019 CET

In [91]:
# Load data from a CSV file
df = pd.read_csv('./data/countries of the world.csv', decimal=',')

In [92]:
# Initial look into the dataset
df.head().T

,0,1,2,3,4
Country,Afghanistan,Albania,Algeria,American Samoa,Andorra
Region,ASIA (EX. NEAR EAST),EASTERN EUROPE,NORTHERN AFRICA,OCEANIA,WESTERN EUROPE
Population,31056997,3581655,32930091,57794,71201
Area (sq. mi.),647500,28748,2381740,199,468
Pop. Density (per sq. mi.),48,124.6,13.8,290.4,152.1
Coastline (coast/area ratio),0,1.26,0.04,58.29,0
Net migration,23.06,-4.93,-0.39,-20.71,6.6
Infant mortality (per 1000 births),163.07,21.52,31,9.27,4.05
GDP ($ per capita),700,4500,6000,8000,19000
Literacy (%),36,86.5,70,97,100
Phones (per 1000),3.2,71.2,78.1,259.5,497.2
Arable (%),12.13,21.09,3.22,10,2.22
Crops (%),0.22,4.42,0.25,15,0
Other (%),87.65,74.49,96.53,75,97.78
Climate,1,3,1,2,3
Birthrate,46.6,15.11,17.14,22.46,8.71
Deathrate,20.34,5.22,4.61,3.27,6.25
Agriculture,0.38,0.232,0.101,NaN,NaN
Industry,0.24,0.188,0.6,NaN,NaN
Service,0.38,0.579,0.298,NaN,NaN

In [93]:
df.tail().T

,222,223,224,225,226
Country,West Bank,Western Sahara,Yemen,Zambia,Zimbabwe
Region,NEAR EAST,NORTHERN AFRICA,NEAR EAST,SUB-SAHARAN AFRICA,SUB-SAHARAN AFRICA
Population,2460492,273008,21456188,11502010,12236805
Area (sq. mi.),5860,266000,527970,752614,390580
Pop. Density (per sq. mi.),419.9,1,40.6,15.3,31.3
Coastline (coast/area ratio),0,0.42,0.36,0,0
Net migration,2.98,NaN,0,0,0
Infant mortality (per 1000 births),19.62,NaN,61.5,88.29,67.69
GDP ($ per capita),800,NaN,800,800,1900
Literacy (%),NaN,NaN,50.2,80.6,90.7
Phones (per 1000),145.2,NaN,37.2,8.2,26.8
Arable (%),16.9,0.02,2.78,7.08,8.32
Crops (%),18.97,0,0.24,0.03,0.34
Other (%),64.13,99.98,96.98,92.9,91.34
Climate,3,1,1,2,2
Birthrate,31.67,NaN,42.89,41,28.01
Deathrate,3.92,NaN,8.3,19.93,21.84
Agriculture,0.09,NaN,0.135,0.22,0.179
Industry,0.28,NaN,0.472,0.29,0.243
Service,0.63,0.4,0.393,0.489,0.579

In [94]:
df.sample(5, random_state=rstate).T

,125,122,156,150,79
Country,Malawi,Macau,Pakistan,Nicaragua,Greece
Region,SUB-SAHARAN AFRICA,ASIA (EX. NEAR EAST),ASIA (EX. NEAR EAST),LATIN AMER. & CARIB,WESTERN EUROPE
Population,13013926,453125,165803560,5570129,10688058
Area (sq. mi.),118480,28,803940,129494,131940
Pop. Density (per sq. mi.),109.8,16183,206.2,43,81
Coastline (coast/area ratio),0,146.43,0.13,0.7,10.37
Net migration,0,4.86,-2.77,-1.22,2.35
Infant mortality (per 1000 births),103.32,4.39,72.44,29.11,5.53
GDP ($ per capita),600,19400,2100,2300,20000
Literacy (%),62.7,94.5,45.7,67.5,97.5
Phones (per 1000),7.9,384.9,31.8,39.7,589.7
Arable (%),23.38,0,27.87,15.94,21.1
Crops (%),1.49,0,0.87,1.94,8.78
Other (%),75.13,100,71.26,82.12,70.12
Climate,2,2,1,2,3
Birthrate,43.13,8.48,29.74,24.51,9.68
Deathrate,19.33,4.47,8.23,4.45,10.24
Agriculture,0.342,0.001,0.216,0.165,0.054
Industry,0.158,0.072,0.251,0.275,0.213
Service,0.499,0.927,0.533,0.56,0.733

In [95]:
# Dataset size
df.shape

(227, 20)

## Prepare Data

In [96]:
# Variables
df.columns

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

In [97]:
# Naming convention, simplify column names and build a dataset dictionary (see above)
df.rename(columns={"Country":"country", 
                  "Region":"region", 
                  "Population":"population", 
                  "Area (sq. mi.)":"area", 
                  "Pop. Density (per sq. mi.)":"popdensity", 
                  "Coastline (coast/area ratio)":"coast", 
                  "Net migration":"netmigr", 
                  "Infant mortality (per 1000 births)":"infmortality", 
                  "GDP ($ per capita)":"gdp", 
                  "Literacy (%)":"literacy", 
                  "Phones (per 1000)":"phones", 
                  "Arable (%)":"arable", 
                  "Crops (%)":"crops", 
                  "Other (%)":"other", 
                  "Climate":"climate", 
                  "Birthrate":"birthrate", 
                  "Deathrate":"deathrate", 
                  "Agriculture":"agriculture", 
                  "Industry":"industry", 
                  "Service":"service"}, inplace=True)

In [98]:
df.columns

Index(['country', 'region', 'population', 'area', 'popdensity', 'coast',
       'netmigr', 'infmortality', 'gdp', 'literacy', 'phones', 'arable',
       'crops', 'other', 'climate', 'birthrate', 'deathrate', 'agriculture',
       'industry', 'service'],
      dtype='object')

In [99]:
# Examplary country data
df.iloc[163]

country                                     Poland
region          EASTERN EUROPE
population                                 38536869
area                                         312685
popdensity                                    123.3
coast                                          0.16
netmigr                                       -0.49
infmortality                                   8.51
gdp                                           11100
literacy                                       99.8
phones                                        306.3
arable                                        45.91
crops                                          1.12
other                                         52.97
climate                                           3
birthrate                                      9.85
deathrate                                      9.89
agriculture                                    0.05
industry                                      0.311
service                                        0.64
Name: 163, dtype: object

In [100]:
# Is there duplicated data in the dataset?
df.duplicated().mean()

0.0

In [101]:
# Country name can be treated as an unique identifier (no duplicated rows)
df.country.value_counts().mean()

1.0

In [102]:
# What are the dataset column data types?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
country         227 non-null object
region          227 non-null object
population      227 non-null int64
area            227 non-null int64
popdensity      227 non-null float64
coast           227 non-null float64
netmigr         224 non-null float64
infmortality    224 non-null float64
gdp             226 non-null float64
literacy        209 non-null float64
phones          223 non-null float64
arable          225 non-null float64
crops           225 non-null float64
other           225 non-null float64
climate         205 non-null float64
birthrate       224 non-null float64
deathrate       223 non-null float64
agriculture     212 non-null float64
industry        211 non-null float64
service         212 non-null float64
dtypes: float64(16), int64(2), object(2)
memory usage: 35.5+ KB

In [103]:
# Make the strings categorical
df.country = df.country.astype('category')
df.region = df.region.astype('category')

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
country         227 non-null category
region          227 non-null category
population      227 non-null int64
area            227 non-null int64
popdensity      227 non-null float64
coast           227 non-null float64
netmigr         224 non-null float64
infmortality    224 non-null float64
gdp             226 non-null float64
literacy        209 non-null float64
phones          223 non-null float64
arable          225 non-null float64
crops           225 non-null float64
other           225 non-null float64
climate         205 non-null float64
birthrate       224 non-null float64
deathrate       223 non-null float64
agriculture     212 non-null float64
industry        211 non-null float64
service         212 non-null float64
dtypes: category(2), float64(16), int64(2)
memory usage: 44.8 KB

In [105]:
# What regions do we have?
df.region.value_counts()

SUB-SAHARAN AFRICA                     51
LATIN AMER. & CARIB                    45
WESTERN EUROPE                         28
ASIA (EX. NEAR EAST)                   28
OCEANIA                                21
NEAR EAST                              16
EASTERN EUROPE                         12
C.W. OF IND. STATES                    12
NORTHERN AFRICA                         6
NORTHERN AMERICA                        5
BALTICS                                 3
Name: region, dtype: int64

In [106]:
#g = df.groupby("region")
#g.median().T

region,ASIA (EX. NEAR EAST),BALTICS,C.W. OF IND. STATES,EASTERN EUROPE,LATIN AMER. & CARIB,NEAR EAST,NORTHERN AFRICA,NORTHERN AMERICA,OCEANIA,SUB-SAHARAN AFRICA,WESTERN EUROPE
population,2.633650e+07,2274735.000,7.641217e+06,6.412408e+06,1065842.000,3488139.500,2.155255e+07,65773.000,114689.0000,8090068.000,4921096.000
area,2.089200e+05,64589.000,2.030500e+05,6.770400e+04,22966.000,51825.000,7.240000e+05,2166086.000,811.0000,245857.000,42310.000
popdensity,1.920000e+02,35.200,5.610000e+01,1.027500e+02,91.400,87.500,3.800000e+01,29.000,60.1000,39.600,167.150
coast,1.235000e+00,0.820,0.000000e+00,6.500000e-02,3.370,1.145,3.250000e-01,2.040,47.0800,0.130,2.000
netmigr,0.000000e+00,-2.230,-2.085000e+00,8.500000e-02,-1.220,0.555,-3.900000e-01,2.490,0.0000,0.000,2.365
infmortality,3.077500e+01,7.870,3.242500e+01,9.330000e+00,18.050,19.060,3.100000e+01,7.540,12.6200,76.830,4.705
gdp,3.450000e+03,11400.000,3.450000e+03,9.100000e+03,6300.000,9250.000,6.000000e+03,29800.000,5000.0000,1300.000,27200.000
literacy,9.060000e+01,99.800,9.905000e+01,9.860000e+01,94.050,83.000,7.000000e+01,97.500,95.0000,62.950,99.000
phones,6.150000e+01,321.400,1.553500e+02,2.960500e+02,222.850,211.000,1.236000e+02,683.200,118.6000,9.700,564.500
arable,1.359500e+01,29.670,1.113500e+01,3.175500e+01,7.600,5.305,3.045000e+00,13.040,5.7100,7.580,16.910
crops,1.005000e+00,0.470,8.750000e-01,2.260000e+00,1.980,2.780,3.650000e-01,0.000,6.9900,0.725,0.190
other,8.116000e+01,69.860,8.652000e+01,6.533500e+01,87.230,89.660,9.659000e+01,86.960,84.4000,90.380,82.230
climate,2.000000e+00,3.000,2.750000e+00,3.000000e+00,2.000,1.000,1.000000e+00,2.000,2.0000,2.000,3.000
birthrate,1.956500e+01,9.240,1.585000e+01,9.720000e+00,18.020,21.595,2.198000e+01,13.520,22.3200,37.980,10.325
deathrate,6.960000e+00,13.250,9.325000e+00,1.031000e+01,6.090,4.560,5.130000e+00,7.800,5.6900,14.860,9.560
agriculture,1.610000e-01,0.040,1.980000e-01,8.150000e-02,0.070,0.035,1.320000e-01,0.010,0.1505,0.276,0.022
industry,2.815000e-01,0.294,3.295000e-01,3.095000e-01,0.259,0.352,3.570000e-01,0.204,0.1710,0.219,0.245
service,4.950000e-01,0.666,4.595000e-01,5.910000e-01,0.618,0.584,4.255000e-01,0.787,0.6440,0.426,0.720

In [113]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
population,227.00,28740284.37,117891326.54,7026.00,437624.00,4786994.00,17497772.50,1313973713.00
area,227.00,598226.96,1790282.24,2.00,4647.50,86600.00,441811.00,17075200.00
popdensity,227.00,379.05,1660.19,0.00,29.15,78.80,190.15,16271.50
coast,227.00,21.17,72.29,0.00,0.10,0.73,10.34,870.66
netmigr,224.00,0.04,4.89,-20.99,-0.93,0.00,1.00,23.06
infmortality,224.00,35.51,35.39,2.29,8.15,21.00,55.70,191.19
gdp,226.00,9689.82,10049.14,500.00,1900.00,5550.00,15700.00,55100.00
literacy,209.00,82.84,19.72,17.60,70.60,92.50,98.00,100.00
phones,223.00,236.06,227.99,0.20,37.80,176.20,389.65,1035.60
arable,225.00,13.80,13.04,0.00,3.22,10.42,20.00,62.11
crops,225.00,4.56,8.36,0.00,0.19,1.03,4.44,50.68
other,225.00,81.64,16.14,33.33,71.65,85.70,95.44,100.00
climate,205.00,2.14,0.70,1.00,2.00,2.00,3.00,4.00
birthrate,224.00,22.11,11.18,7.29,12.67,18.79,29.82,50.73
deathrate,223.00,9.24,4.99,2.29,5.91,7.84,10.61,29.74
agriculture,212.00,0.15,0.15,0.00,0.04,0.10,0.22,0.77
industry,211.00,0.28,0.14,0.02,0.19,0.27,0.34,0.91
service,212.00,0.57,0.17,0.06,0.43,0.57,0.68,0.95

In [79]:
# Missing values
df.isnull().sum()

country          0
region           0
population       0
area             0
popdensity       0
coast            0
netmigr          3
infmortality     3
gdp              1
literacy        18
phones           4
arable           2
crops            2
other            2
climate         22
birthrate        3
deathrate        4
agriculture     15
industry        16
service         15
dtype: int64

In [83]:
# What are the columns with missing values?
df.columns[np.sum(df.isnull()) != 0]

Index(['netmigr', 'infmortality', 'gdp', 'literacy', 'phones', 'arable',
       'crops', 'other', 'climate', 'birthrate', 'deathrate', 'agriculture',
       'industry', 'service'],
      dtype='object')

### Notes

1. The dataset has 20 variables and 227 observations (one per each country).
2. The dataset column names were standardized and their meaning described in the dataset dictionary.
3. There were no duplicated observations in the dataset.
3. The dataset column types were corrected. The quantitative values used colons insted of periods. This was corrected.
4. The dataset columns with missing values are

## Data Modeling??

## Evaluate the Result

## Deploy