# Countries of the World

By Krzysztof Satola from: [github.com/ksatola](https://github.com/ksatola).

Based on CRISP-DM (Cross Industry Process for Data Mining).

### Dataset Dictionary

- **Country** - 
- **Region**
- **Population**
- **Area (sq. mi.)**
- **Pop. Density (per sq. mi.)**
- **Coastline (coast/area ratio)**
- **Net migration**
- **Infant mortality (per 1000 births)**
- **GDP ($ per capita)**
- **Literacy (%)**
- **Phones (per 1000)**
- **Arable (%)**
- **Crops (%)**
- **Other (%)**
- **Climate**
- **Birthrate**
- **Deathrate**
- **Agriculture**
- **Industry**
- **Service**

## Business Understanding

In this project, I explore [Countries of the Worlds Kaggle dataset](https://www.kaggle.com/fernandol/countries-of-the-world) to answer the following questions:

1. sss
2. sss
3. sss

Next, I write a post to ??? about my findings.

## Data Understanding

In [1]:
# Import required libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [11]:
%load_ext version_information

In [14]:
# Document versions of used libraries
%version_information numpy, pandas, matplotlib, seaborn

Software versions
Python 3.7.1 64bit [Clang 4.0.1 (tags/RELEASE_401/final)]
IPython 7.2.0
OS Darwin 18.2.0 x86_64 i386 64bit
numpy 1.16.2
pandas 0.23.4
matplotlib 3.0.2
seaborn 0.9.0
Tue Mar 19 22:36:10 2019 CET

In [3]:
# Load data from a CSV file
df = pd.read_csv('./data/countries of the world.csv')
df.head().T

,0,1,2,3,4
Country,Afghanistan,Albania,Algeria,American Samoa,Andorra
Region,ASIA (EX. NEAR EAST),EASTERN EUROPE,NORTHERN AFRICA,OCEANIA,WESTERN EUROPE
Population,31056997,3581655,32930091,57794,71201
Area (sq. mi.),647500,28748,2381740,199,468
Pop. Density (per sq. mi.),"48,0","124,6","13,8","290,4","152,1"
Coastline (coast/area ratio),"0,00","1,26","0,04","58,29","0,00"
Net migration,"23,06","-4,93","-0,39","-20,71","6,6"
Infant mortality (per 1000 births),"163,07","21,52",31,"9,27","4,05"
GDP ($ per capita),700,4500,6000,8000,19000
Literacy (%),"36,0","86,5","70,0","97,0","100,0"
Phones (per 1000),"3,2","71,2","78,1","259,5","497,2"
Arable (%),"12,13","21,09","3,22",10,"2,22"
Crops (%),"0,22","4,42","0,25",15,0
Other (%),"87,65","74,49","96,53",75,"97,78"
Climate,1,3,1,2,3
Birthrate,"46,6","15,11","17,14","22,46","8,71"
Deathrate,"20,34","5,22","4,61","3,27","6,25"
Agriculture,"0,38","0,232","0,101",NaN,NaN
Industry,"0,24","0,188","0,6",NaN,NaN
Service,"0,38","0,579","0,298",NaN,NaN

In [4]:
# Dataset size
df.shape

(227, 20)

In [8]:
# Variables
df.columns

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

### Notes

1. The dataset has 20 variables and 227 observations (one per each country).

## Prepare Data

## Data Modeling??

## Evaluate the Result

## Deploy